

// ============================================
//  MEDIA QUERIES - WIDTH SPECIFIC
// ============================================

@media (max-width: 1380px) {
    // ---- ABOUT SECTION ----
    .aboutMeH2 {
        font-size: 1rem;
    }
    .aboutMeBlurb p {
        font-size: .8rem;
    }
}

@media (max-width: 1000px) {
    // ---- ABOUT SECTION ----
    .aboutMeSection {
        overflow: hidden;
        height: 1%;
        padding: 2rem 0;        
    }
    .aboutMeSection::after {
        display: none;
    }
    .aboutProfilePic {
        display: block;
        width: 50%;
        margin: 1rem auto;
    }
    .aboutMeFlex div {
        width: 100%;        
    }
    .aboutMeBlurb {        
        height: 100%;
    }

    // ---- PROJECTS SECTION ----

    .indivProjects,
    .indivProjects:nth-of-type(even) {
        flex-direction: column;
    }
    .indivProjInfo {
        width: initial;
    }
    .indivProjImg {
        width: 80%;
        margin-top: 2rem;
    }

    // ---- CONTACT SECTION ----
    .contactEverything {
        width: initial;
    }
}

@media (max-width: 800px) {
    .myProjSec h2 {
        font-size: 2rem;
    }
}

// ---- NAVIGATION WIDTH SPECIFIC ----
@media (max-width: 601px) {
    .navigationNav a:link,
    .navigationNav a:visited {
        font-size: 1rem;
    }
    
    .navButton {
        height: 2rem;
        width: 2rem;
    }

    .navBackground {
        height: 1rem;
        width: 1rem;
    }

    .navigationIcon {
        margin-top: 1rem;
    }

    .navigationIcon,
    .navigationIcon::before,
    .navigationIcon::after {
        width: 1rem;
    }

    .navigationIcon::before {
        top: -.3rem;
    }
    
    .navigationIcon::after {
        top: .3rem;
    }

    .navigationIcon::before:visited {
        top: -.3rem;
    }
    
    .navigationIcon::after:visited {
        top: .3rem;
    }
}

@media (max-width: 550px) {
    // ---- HEADER SECTION ----
    .logo h2 {
        display: none;
    }
    // ---- ABOUT SECTION ----
    .aboutProfilePic {
        width: 80%;
    }
    // ---- PROJECTS SECTION ----
    .myProjSec h2 {
        text-transform: capitalize;
    }
}

@media (max-width: 500px) {
    // ---- SKILLS SECTION ----
    .skillsGroup {
        margin: .2rem 1rem;
    }
    .skillsGroup h3 {
        font-size: .8rem;
    }
    .skillsGroup i {
        font-size: 2rem;
    }
    .skillsBkg {
        width: initial;
    }
    .skillsGroup img {
        width: 2rem;
    }

    // ---- FOOTER ----
    .footerFlex {
        font-size: .6rem;
    }
}

@media (max-width: 425px) {
    // .headerH1 {
    //     margin-top: 3rem;
    // }

    // ---- SKILLS SECTION ----
    .skillsBkg h2 {
        font-size: 10vw;
    }    

    // ---- PROJECT SPECIFIC ----
    .myProjSec h2 {
        font-size: 1.5rem;
    }
    .indivProjects {
        margin: 1rem 0; 
    }

    // ---- CONTACT SECTION ----
    .contactH2 {
        font-size: 1rem;
    }
}

// ============================================
// MEDIA QUERIES - HEIGHT SPECIFIC
// ============================================
@media(max-height: 601px) {
    // ---- HEADER SPECIFIC ----
    .topBar {
        height: 20vh;
    }
    .logo h2 {
        display: none;
    }
    .sideMenu {
        margin: 1.5rem 1rem 0 0
    }
    h1 {
        line-height: 1.5;
        span {
            font-size: 2rem;
        }
    }
    .secondPartOfH1 {
        font-size: 2rem;
    }

    // ---- SKILLS SECTION ----
    .skillsGroup {
        margin: .2rem 1rem;
    }
    .skillsGroup h3 {
        font-size: .8rem;
    }
    .skillsGroup i {
        font-size: 2rem;
    }
    .skillsBkg {
        width: initial;
    }
    .skillsGroup img {
        width: 2rem;
    }

    // ---- PROJECTS SECTION ----
    .myProjSec h2 {
        font-size: 2rem;
    }

    // ---- FOOTER SECTION ----
    footer {
        height: 20vh;
    }
    .footerFlex {
        font-size: .6rem;
    }

    // ---- NAVIGATION ----
    .navigationNav a:link,
    .navigationNav a:visited {
        font-size: 1rem;
    }

    .navButton {
        height: 2rem;
        width: 2rem;
    }

    .navBackground {
        height: 1rem;
        width: 1rem;
    }

    .navigationIcon {
        margin-top: 1rem;
    }

    .navigationIcon,
    .navigationIcon::before,
    .navigationIcon::after {
        width: 1rem;
    }

    // Hamburger menu
    .navigationIcon::before {
        top: -.3rem;
    }
    
    .navigationIcon::after {
        top: .3rem;
    }

    // Hamburger menu on hover
    .navButton:hover .navigationIcon::before {
        top: -.5rem;
    }
    
    .navButton:hover .navigationIcon::after {
        top: .5rem;
    }

    // Hamburger menu after being visited
    .navigationIcon::before:visited {
        top: -.3rem;
    }
    
    .navigationIcon::after:visited {
        top: .3rem;
    }

    // Nav blue background
    .navCheckbox:checked ~ .navBackground {
        transform: scale(250);
    }

    
}



// ============================================
//  HAMBURGER MENU (JS)
// ============================================

// #hamMenu {
//     z-index: 10;
//     font-size: 2rem;
//     @media(min-width: 1000px){
//         display: none;
//     }
// }

// .hidden {
//    display: none;
//    @media(min-width: 1000px){
//        display: flex;
//    }
// }

// .sideMenu {
//    flex-direction: column;
//    position: absolute;
//    right: 0;
//    top: 10vh;
//    bottom: 0;

//    @media(min-width: 1000px){
//        flex-direction: row;
//        position: static;       
//    }
// }