
// ====================================
// NAVIGATION
// ====================================

.headerUL {
    display: flex;
    list-style-type: none;
}

header li {
    margin-left: 1rem;
}

/*-------- HOVER NAV --------*/
nav a:link,
nav a:visited {
	border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    color: $secondaryGenCol;
}

nav a:hover,
nav a:active {
	border-bottom: 2px solid $highlight;
}


